

body{
    background-color: #acacac;
    color: white;
    font-family: 'Montserrat', sans-serif;
    
}
header{
    display: flex;
    background-color: black;
    width: 101%;
    min-height: 70px;
    margin-left: -15px;
    margin-top: -8px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}
.contenido{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.form-group{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  /* padding: 20px; */
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.contenido input {
  width: 100%;
  display: block;
  margin: auto;
  margin-bottom: 2rem;
  background-color: transparent;
  border: none;
  border-bottom: rgb(145, 79, 79) thin solid;
  text-align: center;
  outline: none;
  padding: .2rem 0;
  font-size: .9rem;
  color: rgb(255, 255, 255);
}
#btn1 {
  margin: auto;
  width: 30%;
  padding: 1rem;
  font-weight: 400;
  background-color:#26477D;
  border-radius: 2rem;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: .9rem;
  /* margin-top: 2rem; */
  transition: all .3s ease-in;
  color: #fff;
} 



