body{
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0)), url("../img/images.jpg"); */
    background-color: white;
    height: 100vh;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #26477D;
    /* display: flex; */
    justify-content: center;  
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;

    
}
.contenido{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.contenido1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.infotext{
    margin-top: 5px;
    font-size: small;
    color: black;

}

header{
    display: flex;
    background-color: #26477D;
    width: 101%;
    min-height: 70px;
    margin-left: -8px;
    margin-top: -8px;
    color: white;
    
}
.textheader{
    margin-left: 5%;
    margin-bottom: -1%;
    
}
.div-logo{
    display: flex;
    align-items: center;
    
}

.div-logo img{
    height: 50px;
    margin-right: 12px;

}

.container-form{
    width: 90%;
    height: 55vh;
    display: flex;
    justify-content: space-around;
    transition:  all .5s ease-out;
}

.formulario{
    width: 400px;
    padding: 2rem;
    margin: 2.5rem;
    background-color: rgb(243, 243, 243);
    text-align: center;
    border-radius: 10px;
    margin-left: 16%;
    
}
h2{
    text-align: center;
}
.formulario h2{
    padding: 1rem 0;
    font-size: 1.7rem;
}

.formulario a{
    width: 60%;
    margin: auto;
    text-decoration: none;
}

.buttons button{
    width: 40%;
    margin: auto;
    border: solid thin #26477D;
    padding: .5rem;
    border-radius: 2rem;
    background-color: #26477D;
    font-weight: 600;
    margin-top: 1rem;
    font-size: .8rem;
    cursor: pointer;
    color: white;
    
}

.buttons{
    /* margin-top: -25%; */
    text-align: center;
}

.buttons input{
    width: 25%;
    margin: auto;
    border: solid thin #26477D;
    padding: .5rem;
    border-radius: 2rem;
    background-color: #26477D;
    font-weight: 600;
    margin-top: 1rem;
    font-size: .8rem;
    cursor: pointer;
    color: white;

}