<!DOCTYPE html>
<html lang="en">
    <!-- <script src = "./routes/opencv.js"></script> -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cv</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./users/js/post.js"></script>
</head>
<body>

    <h1>Aqui creas un nuevo cv</h1>
    <div class="form-group">
        <label for="input-name">Nombre</label>
        <input type="name" class="form-control" id="input-name" placeholder="******">
    </div>
    <div class="form-group">
        <label for="input-ln">Apellido Paterno</label>
        <input class="form-control" id="input-ln" placeholder="********** ">
    </div>
     <div class="form-group">
        <label for="input-mln">Apellido materno</label>
        <input class="form-control" id="input-mln" placeholder="********** ">
    </div>
    <div class="form-group">
        <label for="input-dir">direccion</label>
        <input class="form-control" id="input-dir" placeholder="********** ">
    </div>
    <div class="form-group">
        <label for="input-zp">codigo postal</label>
        <input class="form-control" id="input-zp" placeholder="********** ">
    </div>
    <div class="form-group">
        <label for="input-sta">estado</label>
        <input class="form-control" id="input-sta" placeholder="********** ">
    </div>
    <div class="form-group">
        <label for="input-mail">correo electronico</label>
        <input class="form-control" id="input-mail" placeholder="********** ">
    </div>
    <div class="form-group">
        <label for="input-tnum">número de teléfono</label>
        <input class="form-control" id="input-tnum" placeholder="********** ">
    </div>
    <div class="form-group">
        <label for="input-formacd">formacion academica</label>
        <input class="form-control" id="input-formacd" placeholder="********** ">
    </div>
    <div class="form-group">
        <label for="input-profexp">experiencia profecional</label>
        <input class="form-control" id="input-profexp" placeholder="********** ">
    </div>
    <div class="form-group">
        <label for="input-idioms">idiomas que domina</label>
        <input class="form-control" id="input-idioms" placeholder="********** ">
    </div>
    <div class="d-flex justify-content-between">
        <button id="btn1">consultar</button>
    </div>
    
</body>
</html>