<!DOCTYPE html>
<html lang="en">
<!-- <script src = "./routes/opencv.js"></script> -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cv</title>
    <link rel="stylesheet" href="../views/public/css/styles_createcv.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script src="./users/js/post.js"></script> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

    <header>
        <h1 class="textheader">¿Cómo quieres crear tu CV?</h1>

    </header>


    <div class="contenido">
        <div>

        </div>
        <div class="container-form">
            <div class="formulario">
                <h2>Perfil Académico</h2>
                <label class="infotext">
                    Utiliza el perfil académico para solicitar una plaza como becario, compaginar tus estudios con un
                    trabajo, o para estudiar un master.
                </label>
                <div class="buttons">
                    <form action="./cva.html">
                        <button class="btn btnopencv text-white">Crear</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="container-form">
            <div class="formulario">
                <h2>Perfil Profesional</h2>
                <label class="infotext">
                    Utiliza el perfil profesional como apoyo o representación de tus aptitudes y conocimientos ante la
                    postulación para un puesto de trabajo.
                </label>

                <div class="buttons">
                    <form action="./cvp.html">
                        <button class="btn btnopencv text-white">Crear</button>
                    </form>
                </div>
            </div>
        </div>
        <div>
        </div>
    </div>

    <div class="buttons">
        <form action="./users/info.html">
            <button class="btn btnopencv text-white">Regresar</button>
        </form>
    </div>




</body>

</html>