<!DOCTYPE html>
<html lang="en">
<!-- <script src = "./routes/opencv.js"></script> -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cv</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./users/js/post.js"></script>
    <link rel="stylesheet" href="../views/public/css/cva.css">
</head>

<body>
    <header>

    </header>
    
    <h1>Crea tu cv con un perfil académico</h1>

    <div class="">
        <div class="form-gcontenidoroup">
            <label for="input-name">Nombre</label>
            <input type="name" class="form-control" id="input-name" placeholder="******">
        </div>
        <div class="form-group">
            <label for="input-ln">Apellido Paterno</label>
            <input class="form-control" id="input-ln" placeholder="********** ">
        </div>
        <div class="form-group">
            <label for="input-mln">Apellido materno</label>
            <input class="form-control" id="input-mln" placeholder="********** ">
        </div>
        <div class="form-group">
            <label for="input-dir">Direccion</label>
            <input class="form-control" id="input-dir" placeholder="********** ">
        </div>
        <div class="form-group">
            <label for="input-zp">Codigo postal</label>
            <input class="form-control" id="input-zp" placeholder="********** ">
        </div>
        <div class="form-group">
            <label for="input-sta">Estado</label>
            <input class="form-control" id="input-sta" placeholder="********** ">
        </div>
        <div class="form-group">
            <label for="input-mail">Correo electronico</label>
            <input class="form-control" id="input-mail" placeholder="********** ">
        </div>
        <div class="form-group">
            <label for="input-tnum">Número de teléfono</label>
            <input class="form-control" id="input-tnum" placeholder="********** ">
        </div>
        <div class="form-group">
            <label for="input-formacd">Formacion academica</label>
            <input class="form-control" id="input-formacd" placeholder="********** ">
        </div>
        <div class="form-group">
            <label for="input-profexp">Experiencia profesional</label>
            <input class="form-control" id="input-profexp" placeholder="********** ">
        </div>
        <div class="form-group">
            <label for="input-idioms">Idiomas que domina</label>
            <input class="form-control" id="input-idioms" placeholder="********** ">
        </div>
        <div class="form-group">
            <label for="input-habprof">Habilidades academicas</label>
            <input class="form-control" id="input-habprof" placeholder="********** ">
        </div>
        <div class="form-group">
            <label for="input-ointereses">Otros interese</label>
            <input class="form-control" id="input-ointereses" placeholder="********** ">
        </div>
        
    </div>
    <div class="d-flex justify-content-between">
        <button id="btn1">Enviar</button>
        <input id="btn1" type="button" value="Regresar" onClick="history.go(-1);">
    </div>
    

</body>

</html>