<!DOCTYPE html>
<html lang="en">
<!-- <script src = "./routes/opencv.js"></script> -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cv</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./users/js/post.js"></script>
    <link rel="stylesheet" href="../views/public/css/cva.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header>
        <h1 class="textheader">Perfil académico</h1>
    </header>
    <form action="../views/opencv.html">
        <div class="contenido">
            <div class="contenido1">
                <div class="nombres">
                    <div class="form-group-names">
                        <input type="name" class="form-control" id="input-name" placeholder="Nombre" required>
                        <!-- <textarea name="" class="form-control" id="input-name" cols="30" rows="10"></textarea> -->
                    </div>
                </div>
        
                <div class="nombres">
                    <div class="form-group-names">
                        <input class="form-control" id="input-ln" placeholder="Apellido Paterno" required>
                    </div>
                </div>
                <div class="nombres">
                    <div class="form-group-names">
                        <input class="form-control" id="input-mln" placeholder="Apellido Materno" required>
                    </div>
                </div>
                <div class="detalles">
                    <h1>Datos de contacto</h1>
                </div>
                <div class="form-group1">
                    <label for="input-dir">Dirección</label><br>
                    <input class="form-control" id="input-dir" placeholder="Colonia, calle y número" name="direction" required>
                </div>
                <div class="form-group1">
                    <label for="input-zp">Código postal</label>
                    <input class="form-control" id="input-zp" placeholder="Código de 6 digitos" required>
                </div>
                <div class="form-group1">
                    <label for="input-sta">Estado</label><br>
                    <input class="form-control" id="input-sta" placeholder="Entidad Federativa" required>
                </div>
                <div class="form-group1">
                    <label for="input-mail">Correo electrónico</label>
                    <input class="form-control" id="input-mail" placeholder="example@example.com" required>
                </div>
                <div class="form-group1">
                    <label for="input-tnum">Número de teléfono</label>
                    <input class="form-control" id="input-tnum" placeholder="Número de 10 dígitos" required>
                </div>
            </div>
            <div class="contenido2">
                <div class="perfil">
                    <h1>Perfil</h1>
                </div>
                <div class="form-group2">
                    <label for="input-formacd">Formación académica</label>
                    <input type="text" class="form-control" id="input-formacd" placeholder="" required>
                    <!-- <textarea name="" id="input-formacd" cols="30" rows="10"></textarea> -->
                </div>
                <div class="form-group2">
                    <label for="input-profexp">Experiencia profesional</label>
                    <input class="form-control" id="input-profexp" placeholder="" required>
                </div>
                <div class="form-group2">
                    <label for="input-idioms">Idiomas que domina</label>
                    <input class="form-control" id="input-idioms" placeholder="" required>
                </div>
                <div class="form-group2">   
                    <label for="input-hab">Habilidades académicas</label>
                    <input class="form-control" id="input-hab" placeholder="" required>
                </div>
                <div class="form-group2">
                    <label for="input-ointereses">Otros interese</label>
                    <input class="form-control" id="input-ointereses" placeholder="" required>
                </div>
            </div>
        </div>
        
    <div class="d-flex justify-content-between">
        <button id="btn1">Enviar</button>
        <input id="btn1" type="submit" value="Regresar" onClick="history.go(-1);">
    </div>
    </form>
    

</body>
</html>