<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Open CV </title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./users/js/get.js"></script>
    <link rel="stylesheet" href="../views/public/css/opencv.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <header>
        <h1 class="textheader">Aqui esté el CV ya hecho</h1>
        
    </header>

    <div class="contaner">
        <div id="my-cvs"></div>
    </div>

    <div class="tarjeta">
        <div id="buttons">
            <input class="btn" type="button" value="Regresar" onClick="history.go(-1);">
            
            

        </div>
    </div>




    <!-- <template id="template-card">      
        <div class="tarjeta">
            <div class="card-body">
                <h1 class="titulo"></h1>
                <h5></h5>
                <a href="edit.html" type="button">Editar</a>
                <button id="btn-delete" class="btn-delete" onClick="deleteCv" >Borrar</button>
            </div>
        </div>
    </template> -->
    <!-- <div id="datos-usuario"></div> -->

</body>

</html>