<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>info</title>
    <link rel="stylesheet" href="../public/css/styles_info.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="./js/info.js"></script>
</head>

<body>
    <div id="container">
        <div>
            <h1 class="h1">Crea o edita tu curriculum vitae</h1>
        </div>
        <div class="form-group">
            
            
            <div>
                <form action="../createcv.html">
                    <button class="btncreatecv"> <i class='bx bxs-file-plus'></i> Crear nuevo CV</button>
                </form>
            </div>
            <div>
                <form action="../opencv.html">
                    <button class="btnopencv"> <i class='bx bx-download'></i>   Consultar tu CV       
                    </button>
                </form>
            </div>

        </div> 
    </div>
    
    <div class="logout">
        <button id="logout" class="btn btn-primary border-0 bg-danger"> Cerrar sesión</button>
    </div>
</body>

</html>

<!-- 
<script src= "./js/info.js"></script>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->