<!DOCTYPE html>
<form action = "/views/users/login" method = "POST" name = 'Form'></form>
<html lang="en">
    <script src = "./js/prin.js"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../public/css/prin.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="div-logo">
            <img src="../public/img/3.jpg" alt="logo">
            <h2>CVitae</h2>
        </div>
        <nav>
            <a type="submit" href="./signin.html" class="nav-link"> Registrate</a>
            <a href="./login.html" class="nav-link">Inicia sesión</a>
            <a href="" class="nav-link">Contacto</a>
        </nav>

    </header>

    <div class="icons">
        
    </div> 
   
    
</body>
</html>