<!DOCTYPE html>
<form action = "/views/users/login" method = "POST" name = 'Form'></form>
<html lang="en">
    <script src = "./js/prin.js"></script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Document</title>
</head>
<body>

    <header>
        <button  type= "submit" class = "btn btn-primary"> Registrate </button>
        <div class="icons">
            <i class='bx bxs-user'></i>
        </div>
        
    </header>
   
    <!-- <button class="btn btn-primary border-0 bg-danger">Entrar</button> -->
    
</body>
</html>