<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/styles_acceso.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src = "./js/signin.js"></script>  
    <title>Document</title>
</head>
<body>
    <header>
        <h1 class="textheader">Perfil académico</h1>
    </header>
    <div class="container-form sign-up">
        <div class="welcome-back">
            <div class="message">
                <h2>Bienvenido</h2>
                <p>Si ya tienes una cuenta, por favor inicia sesión aquí</p>
                <button class="btn btn-secondary">Iniciar sesión</button>
            </div>
        </div>
        <form class="formulario">
            <h2 class="create-account"> Crea una cuenta</h2>
            <div class="iconos">
                <div class="border-icon">
                    <i class='bx bxl-instagram-alt'></i>
                </div>
                <div class="border-icon">
                    <i class='bx bxl-facebook-square'></i>
                </div>
                <div class="border-icon">
                    <i class='bx bxl-twitter'></i>
                </div>
            </div>
            <p class="cuenta-gratis">Crea una cuenta gratis</p>
            
            <label for="input-name">Nombre</label>
            <input type="text" id="input-name" placeholder="Escribe tu nombre">
            <label for="input-mail">Correo electrónico</label>
            <input type="email" id= "input-mail" placeholder="curriculum_v@hotmail.com">
            <label for="input-password">Contraseña</label>
            <input type="password" id="input-password" placeholder="***********">
            <button class="btn btn-primary">Registrarme</button>
        </form>

    </div>   
</body>
</html>